.DS_Store
__pycache__/
*.py[cod]

.env
.env.*
!.env.example
!.env_example

HF/eval/output/
HF/model_output/*/
!HF/model_output/example_model/

# 生成 json 資料集
HF/eval/multi_turn/
HF/eval/single_turn/
HF/model_output/

# HF 資料集
HF/test_data/
HF/test_results/

logs/
*.log
